.logo img {
    height: 100px;
  }

  .container.logo{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }

  .sub {
    color: #fff;
    font-size: 13px;
    background-color: rgba(0,0,0,0.4);
    padding:5px 15px;
    border-radius: 4px;
    border: solid 1px #fff;
  }

  .sub>p{
      margin-bottom: 0;
  }

  .search>input{
    width: 500px;
    height: 35px;
    margin-top: 30px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: solid 1px #fff;
  }

  .search button{
    background-color: #FF3100;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  .search .mark{
      height: 20px;
  }

  .search .mark:hover{
      fill: white;
  }