.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.marker-price {
  margin-top: 0;
  background: #fff;
  color: #FF3100;
  font-size: 12px;
  position: absolute;
  z-index: -1;
  width: fit-content;
  height: 22px;
  font-weight: bold;
  top: -27px;
  left: -4px;
  padding: 6px;
  border-radius: 5px;
  padding-left: 17px;
}
.map-container > div {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
.map-container .overlays div.mapboxgl-marker {
  width: 128px !important;
  height: 29px !important;
}