.main-container {
  width: 100vw;
  height: 100vh;
}
article {
  position: relative;    
  z-index: 20;
  width: 100%;
  height: 100%;
  .title-and-photo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      width: 80%;
      color: white;
      font-size: 75px;
      font-weight: bolder;
      margin-top: 20px;
      border-bottom: 1px solid white;
    }
    img {
      width: 80%;
      object-fit: cover;
      height: 170px;
    }
  }
  .description {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 47px;
    justify-content: space-between;
  }
  .inqui {
    h2 {
      color: white;
      border-bottom: 1px solid white;
    }
    flex: 2;
    color: white;
    .user-image-title {
      width: 100%;
      height: fit-content;
      .nose {
        padding-left: 20px; 
      }
      h4 {
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-bottom: 0;
      }
      .name-and-location {
        display: flex;
        width: 95%;
        p {
          margin-top: 5px;
          line-height: 15px;
          color: #FF8234;
        }
        span {
          font-size: 16px;
        }
      }
      .mock-image {
        width: 50px;
        height: 50px;
        display: block;
        background: #fff;
        border-radius: 50%;
        position: relative;
      }
    }
    
  }
  .price-and-description {
    flex: 1;
    button {
      background: #FF8234;
      width: 80%;
      margin-left: auto;
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      border-radius: 5px;
      display: block;
    }
    p {
      width: 90%;
      margin-left: auto;
      color: white;
      font-size: 55px;
      font-weight: bold;
      font-size: 45px;
      font-weight: bold;
      text-align: right;
      border-bottom: 1px solid #FF8234;
    }
  }
}
